<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>be4847a5-e223-4291-8695-8cbe7312fbb4</ProjectGuid>
    <SelfContained>false</SelfContained>
    <publishUrl>bin\Release\netcoreapp3.1\publish\</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <Target Name="CustomActionsAfterPublish" AfterTargets="AfterPublish">
    <Exec Command="git describe --tags" ConsoleToMsBuild="true">
      <Output TaskParameter="ConsoleOutput" PropertyName="Tag" />
    </Exec>
    <PropertyGroup>
      <_ImageName>gcr.io/$(_ProjectId)/$(_ServiceName):$(Tag)</_ImageName>
    </PropertyGroup>
    <Exec Command="gcloud auth --account $(_ServiceAccount) print-access-token | docker login -u oauth2accesstoken --password-stdin https://gcr.io" />
    <Exec Command="docker build -f Dockerfile.publish --tag $(_ImageName) $(_PublishTargetUrl)" />
    <Exec Command="docker push $(_ImageName)" />
    <Exec Command="gcloud run deploy youtube-subs --image $(_ImageName) --platform managed --region $(_Region) --set-env-vars=GOOGLEAPIKEY=$(_GoogleApiKey)" />
  </Target>
</Project>